.Chess_container{
    /* border: 2px solid pink; */
    height: 440px;
    width: 440px;
    padding: 20px;
    background-color: white;
    border: 20px solid rgb(201, 32, 32);
}

.Chess_border{
    /* background-color: rgb(26, 15, 1); */
    /* border: 20px solid black; */
    width: 400px;
    height: 400px;
    border: 20px solid black;;
}

.board{
    padding: 10px;
    position: relative;
    height: 350px;
    width: 350px;
    background: black;
    border: 16px solid black;
    display: grid;
    grid-template-columns: repeat(8,1fr);
}

.row{
    display: flex;
}

.square{
    /* border: 1px solid black; */
  height: 100%;
  width: 100%;
}

.row:nth-child(even) .square:nth-child(even){
    background: black;
}

.row:nth-child(odd) .square:nth-child(odd) {
    background: black;  
}

/* .box:nth-child(odd){
    background: rgb(20, 0, 0);
}

.box:nth-child(even){
    background: rgb(252, 252, 252);
}

.box{
    background-color: rgb(15, 0, 0);
} */ 