body {
  text-align: center;
  background-color: rgba(31, 106, 156, 0.836);
}

button {
  margin: 10px;
}

input {
  height: 40px;
  border: 0;
  outline: 0;
  box-shadow: none;
  box-shadow: 2px 2px 2px 1px #888888;
}

input:focus {
  outline: none !important;
  border: none;
}
