.ClassCounterApp button{
    padding: 20px;
    margin: 2px;
    left: 20px;
}

.ClassCounterApp{
    display: flex;
    align-items: center;
}

h2{
    position: relative;
    top: 50px;
    right: 50px;
}


