* {
  padding: 0;
  margin: 0;
}
.container {
  height: 100vh;
  width: 100%;
  background-color: #ebd4cb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.main_area {
    height: 83vh;
    width: 94vw;
    background-color: #c24a2cc7;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
}

.seats {
  background-color: #793322c7;
}

.seats:hover {
  background-color: #521607c7;
}

.booked {
  background-color: #521607c7;
}


h2{
  color: rgb(154, 156, 1);
  font-size: 30px;
}

span{
  color: rgb(255, 102, 0);
}