/*  inactive = orange color   && active means  white colors apprears.     */

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
}

.project {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(20,1fr);
    grid-template-columns: repeat(20,1fr);
    background: #DE4738; /* bakground of our div = dark orange */
    
}

.innactive {
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 0px 1px #ffffff0c inset; /*   hs vs blurryeffect           */
    cursor: pointer;
    transition: all 0.15s;
}


.active {
    background-color: white; /* white color of our alien */
}

