.Card{
    border: 2px solid rgb(116, 116, 252);
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
    border-radius: 10px 10px;
    margin-right: 100px;
    /* background-image: url('foodie.jpg'); */
    /* background: rgb(234, 245, 247); */
    background: rgba( 117, 188, 235, 0.20 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3.0px );
-webkit-backdrop-filter: blur( 4.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}



