body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(131, 186, 248);
}

.AddItem {
  /* border: 2px solid green; */
  height: 100px;
  width: 450px;
  display: flex;
  align-items: center;
}

.input {
  display: flex;
}

.input .card_input {
  padding: 10px;
  padding-left: 20px;
  margin: 10px;
}

.Add_button {
  display: flex;
  justify-content: center;
}

.Add_button button {
  background-color: rgb(82, 172, 247);
  padding: 10px 40px;
  position: relative;
  left: 2px;
  border: 1px solid white;
  font-size: 15px;
  font-family: monospace;
  color: white;
  cursor: pointer;
  position: relative;
}

.Add_button:hover button {
  background-color: rgb(20, 143, 243);
  color: white;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}
